body {
    background-color: rgb(252, 249, 249);
  }
  #AGINSE, .container {
    color: #fff;
  }
  #solicitar-seguro {
    color: black;
}

*{
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
     margin:0;
}



h1{font-size: 3.6em;}
h2{font-size: 2.7em;}
h3{font-size: 2.2em;}
p{font-size: 1.25em;}
ul{list-style : none;}
li{font-size: 1.25em;}
h4{font-size: 2.7em;}
button {
    font-size: 18px;
    color: #090909;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: #111010;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #0a0a0a;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  #button2 {
    font-size: 18px;
    color: #fbf9f9;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  #button2:focus,
  #button2:hover {
    color: #f8f6f6;
  }
  
  #button2:focus:after,
  #button2:hover:after {
    width: 100%;
    left: 0%;
  }
  
  #button2:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fbf7f7;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
  
.color-acento{
    color: #070707;
}

head{
    background-color: #f1f1f8;
    padding: 20px 0;
}

header.logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:#0b07f4
}

header.container{
    display: flex;
    justify-content: column;
    align-items: center;
}

header nav{
    display: flex;
    justify-content: column;
    align-items: center;
    padding-bottom: 25px;
}

header a{
    padding:5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #0b07f4;
}

header a:hover{
    color: #03037a;
}
#hero{

   
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 110vh;
  background-image: linear-gradient(rgba(9, 9, 9, 0.888), rgba(17, 17, 17, 0.5)), url("foto1.png");
  background-position: center;
  color: #f0f3f5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#hero h1{
    color: white;
}

#AGINSE{

    text-align: center;
    padding: 200px 12px;
}

#AGINSE.container{
    text-align: center;
    padding: 200px 12px;
}

#seguros{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(rgba(9, 9, 9, 0.888), rgba(17, 17, 17, 0.5)), url("foto2.png");
  background-size: cover;
  background-position: center;
  color: #f0f3f5;
    
}


#seguros.container{

    padding: 100px 0px;

}

#seguros h2{
    margin-top:0;
    font-size:3.5em;
}
#seguros p{
    display: none;

}

#seguros.carta{
    
    background-position: center center;
    background-size: cover;
    font-family: 'Geneva', sans-serif;
     margin:0;
}

#cara{

    text-align: center;
    padding: 100px 12px;
    
}

#caracteristicas.container{
   text-align:center;

}

#caracteristicas li{
    margin:12px 0px;

}

#container{
    text-align: center;
    padding: 200px 12px;
}
#lo{
    text-align: center;
    padding: 30px 12px;
   
      
}

.about-link {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: white;
    background-color: blue;
    border: 2px solid blue;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
    text-align: center;

  
  }

  #Asegurate{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(18, 19, 19, 0.888),rgba(20, 20, 20, 0.5)),url("apuesta.jpg");
    background-size: cover;
    color: #f0f3f5;
    background-attachment: fixed;
    
  
}

#hero2{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(20, 20, 20, 0.888),rgba(18, 19, 18, 0.5)),url("militar.jpg");
    background-size: cover;
    color: #f0f3f5;
    background-attachment: fixed;
    background-size: 100% auto; /* ajusta el tamaño de la imagen */
    background-attachment: fixed;
     
}

#hero3{
 

   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 110vh;
    background-image: linear-gradient(rgba(10, 3, 0, 0.888), rgba(17, 17, 17, 0.5)), url("Foto3.jpg");
    background-position: center;
    color: #f0f3f5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  
}

#hero4{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(rgba(10, 10, 10, 0.888), rgba(17, 17, 17, 0.5)), url("Foto4.jpg");
  background-size: cover;
  background-position: center;
  color: #f0f3f5;
}

@media (max-width: 600px) {
  #hero4 {
      background-size: 100% auto;
  }
}
#hero5{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(15, 15, 15, 0.888),rgba(15, 15, 15, 0.5)),url("Plaza.jpg");
    background-size: cover;
    color: #f0f3f5;
    background-attachment: fixed;
    background-size: 100% auto; /* ajusta el tamaño de la imagen */
background-attachment: fixed;

 
}

nav {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #111010;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
  
   
  }
  
  nav:active {
    color: #131111;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  nav:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  nav:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #fc9075;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  nav:hover {
    color: #ffffff;
    border: 1px solid #fd8f74;
  }
  
  nav:hover:before {
    top: -35%;
    background-color: #fd846e;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  nav:hover:after {
    top: -45%;
    background-color: #f38b71;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  #rifas{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:110vh;
    background-image:linear-gradient(rgba(1, 9, 12, 0.888),rgba(14, 19, 11, 0.5)),url("porche.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #f0f3f5;
    
    
}

#hero6{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align:center ;
  flex-direction: column;
  height:90vh;
  background-image:linear-gradient(rgba(15, 15, 15, 0.888),rgba(15, 15, 15, 0.5)),url("porche.jpg");
  background-size: cover;
  color: #f0f3f5;
  background-attachment: fixed;
  background-size: 100% auto; /* ajusta el tamaño de la imagen */
background-attachment: fixed;
  
  
  }
  
  #hero7{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(15, 15, 15, 0.888),rgba(15, 15, 15, 0.5)),url("ganadores.jpg");
    background-size: cover;
    color: #f0f3f5;
    background-attachment: fixed;
    background-size: 100% auto; /* ajusta el tamaño de la imagen */
  background-attachment: fixed;
    
    
    }

    #hero8{
      display:flex;
      align-items: center;
      justify-content: center;
      text-align:center ;
      flex-direction: column;
      height:90vh;
      background-image:linear-gradient(rgba(15, 15, 15, 0.888),rgba(15, 15, 15, 0.5)),url("casa.jpg");
      background-size: cover;
      color: #f0f3f5;
      background-attachment: fixed;
      background-size: 100% auto; /* ajusta el tamaño de la imagen */
    background-attachment: fixed;
      
      
      }
      #hero9{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align:center ;
        flex-direction: column;
        height:90vh;
        background-image:linear-gradient(rgba(15, 15, 15, 0.888),rgba(15, 15, 15, 0.5)),url("cs.jpg");
        background-size: cover;
        color: #f0f3f5;
        background-attachment: fixed;
        background-size: 100% auto; /* ajusta el tamaño de la imagen */
      background-attachment: fixed;
        
        
        }

        .reglas {
            margin-bottom: 50px;
        }

        @media screen and (max-width: 480px) {
            .k {
              flex-direction: column;
              align-items: center;
            }
          
            .k a {
              margin: 5px;
            }
          }
        
          /* Estilos del botón de WhatsApp */
  #whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d33925;
    color: #070707;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .logo2{
    width: 100 px;

  }
       
  
/* Estilo para el botón */
.custom-button {
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  /* Otros estilos que desees aplicar */
}

/* Estilo para el enlace */
.button-link {
  text-decoration: none;
  color: rgb(15, 14, 14);
}

/* Cambio de color al pasar el cursor */
.custom-button:hover {
  background-color: white;
  color: black;
  /* Otros estilos de cambio al hover */
}


